fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose[cryptography]
python-multipart
twilio
pywebpush
uvicorn[standard]
sqlalchemy
passlib[bcrypt]
python-jose[cryptography]
python-multipart
twilio
requests
pandas
psycopg2-binary
